
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
body{
   background-image: url(images/sky.jpg);
   background-repeat: no-repeat;
   width: 100%;
   background-size: cover; 
   height: 100vh; 
   
}
.card{
    max-width: 90%;
    width: 1000px;
    color: #fff;
    background: linear-gradient(135deg,#00feba , #5b548a);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 70px;
    border-radius: 30px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;
}
.search button{
    border: none;
    outline: none;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.error{
    text-align: left;
    margin: 10px;
    font-size: 16px;
    color: yellow;
    display: none;
}
.weather .weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-right: 15px;
}
.humidity, .wind {
 font-size: 20px;
 margin-top: -6px;
}
.weather{
    display: none;
}